In [1]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

In [6]:
df = pd.read_csv("course_reviews.csv")

In [7]:
# rating dagılımı
df["Rating"].value_counts()

5.0    3267
4.5     475
4.0     383
3.5      96
3.0      62
1.0      15
2.0      12
2.5      11
1.5       2
Name: Rating, dtype: int64

In [8]:
# Soruların dağılımı
df["Questions Asked"].value_counts()

0.0     3867
1.0      276
2.0       80
3.0       43
4.0       15
5.0       13
6.0        9
8.0        5
9.0        3
14.0       2
11.0       2
7.0        2
10.0       2
15.0       2
22.0       1
12.0       1
Name: Questions Asked, dtype: int64

In [9]:
# Sorulan sorulara göre puan ortalamasını aldık.
df.groupby("Questions Asked").agg({"Questions Asked":"count","Rating":"mean"})

                 Questions Asked    Rating
Questions Asked
0.0                         3867  4.765193
1.0                          276  4.740942
2.0                           80  4.806250
3.0                           43  4.744186
4.0                           15  4.833333
5.0                           13  4.653846
6.0                            9  5.000000
7.0                            2  4.750000
8.0                            5  4.900000
9.0                            3  5.000000
10.0                           2  5.000000
11.0                           2  5.000000
12.0                           1  5.000000
14.0                           2  4.500000
15.0                           2  3.000000
22.0                           1  5.000000

In [10]:
# Ortalama
df["Rating"].mean()

4.764284061993986