In [9]:
#Ağırlıklı Derecelendirme ( Weighted Rating )
import pandas as pd
df = pd.read_csv("product_sorting.csv")

In [13]:
# Puana göre sıralama
df.sort_values("rating",ascending=False).head(20)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45
16,Course_6,Instructor_7,140,4.6,20,10,10,0,0,0
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21
21,Course_10,Instructor_10,723,4.5,130,68,47,9,3,3
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24
28,Course_16,Instructor_13,2362,4.5,95,58,26,9,0,2
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67
22,A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...,Veri Bilimi Okulu,3062,4.4,169,122,29,13,2,3
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9