In [2]:
# Derecelendirme, Satın Alma, Yoruma Göre Sıralama ( Sorting b)
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("product_sorting.csv")

In [3]:
# Satın alma sayılarını 1 ile 5 arasındaki sayılara çevirdik.
df["purchase_count_scaled"] = MinMaxScaler(feature_range=(1,5)). \
fit(df[["purchase_count"]]).transform(df[["purchase_count"]])

In [5]:
# Yorum sayılarını 1 ile 5 arasındaki sayılara çevirdik.
df["comment_count_scaled"] = MinMaxScaler(feature_range=(1,5)). \
fit(df[["commment_count"]]).transform(df[["commment_count"]])

In [9]:
# Ayrıntı yaparak oran vererek skor'ları aldık.
# Satın almaya %26, yorumlara %32, puana ise %42 ağırlık verdik.
(df["comment_count_scaled"] * 32 / 100 +
 df["purchase_count_scaled"] * 26 / 100 +
 df["rating"] * 42 / 100)

0     4.249884
1     4.795104
2     3.483494
3     2.937105
4     3.022039
5     2.751651
6     2.857214
7     2.522386
8     2.759901
9     2.816233
10    3.427921
11    2.987387
12    2.528686
13    2.721863
14    3.501984
15    3.365772
16    2.517977
17    2.282315
18    2.458066
19    2.726593
20    3.681563
21    2.519056
22    2.538280
23    2.354586
24    2.264794
25    2.021050
26    2.436116
27    2.561682
28    2.544666
29    1.925836
30    1.924000
31    2.273764
dtype: float64

In [10]:
# Fonksiyon haline getirdik
def weighted_sorting_score(df,w1=32,w2=26,w3=42):
    return (df["comment_count_scaled"] * w1 / 100 +
            df["purchase_count_scaled"] * w2 / 100 +
            df["rating"] * w3 / 100)

In [11]:
# Çıkan skorları yeni bir değişken oluşturup atadık.
df["weighted_sorting_score"] = weighted_sorting_score(df)

In [15]:
# Çıkan değerimize göre sıraladık.
df.sort_values("weighted_sorting_score",ascending=False).head(20)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
20,Course_9,Instructor_3,12946,4.5,3371,2191,877,203,33,67,2.070512,3.916342,3.681563
14,Uçtan Uca SQL Server Eğitimi,Veri Bilimi Okulu,12893,4.7,2425,1722,510,145,24,24,2.066120,3.096229,3.501984
2,5 Saatte Veri Bilimci Olun (Valla Billa),Instructor_1,18693,4.4,2362,1582,567,165,24,24,2.546839,3.041612,3.483494
10,İleri Düzey Excel|Dashboard|Excel İp Uçları,Veri Bilimi Okulu,9554,4.8,2266,1654,499,91,22,0,1.789374,2.958388,3.427921
15,Uygulamalarla SQL Öğreniyorum,Veri Bilimi Okulu,11397,4.5,2353,1435,705,165,24,24,1.942127,3.033810,3.365772
4,(2020) Python ile Makine Öğrenmesi (Machine Le...,Veri Bilimi Okulu,11314,4.6,969,717,194,38,10,10,1.935248,1.833984,3.022039
11,Course_3,Instructor_4,24809,4.3,250,95,87,51,12,5,3.053749,1.210663,2.987387
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105
6,Course_2,Instructor_3,3171,4.7,856,582,205,51,9,9,1.260334,1.736021,2.857214
9,Modern R Programlama Eğitimi,Veri Bilimi Okulu,6537,4.4,901,559,252,72,9,9,1.539317,1.775033,2.816233
8,A'dan Z'ye Apache Spark (Scala & Python),Veri Bilimi Okulu,6920,4.7,214,154,41,13,2,4,1.571062,1.179454,2.759901
5,Course_1,Instructor_2,4601,4.8,213,164,45,4,0,0,1.378857,1.178587,2.751651
19,Alıştırmalarla SQL Öğreniyorum,Veri Bilimi Okulu,3155,4.8,235,200,31,4,0,0,1.259008,1.197659,2.726593
13,Course_5,Instructor_6,6056,4.7,144,82,46,12,1,3,1.499451,1.118769,2.721863
27,Course_15,Instructor_1,1164,4.6,98,65,24,6,0,3,1.093989,1.078890,2.561682
28,Course_16,Instructor_13,2362,4.5,95,58,26,9,0,2,1.193282,1.076290,2.544666
22,A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...,Veri Bilimi Okulu,3062,4.4,169,122,29,13,2,3,1.251300,1.140442,2.538280
12,Course_4,Instructor_5,1901,4.3,376,218,113,34,8,3,1.155073,1.319896,2.528686

In [14]:
# Bonus isminde sadece veri bilimi olanları görüntülemek istiyoruz.
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("weighted_sorting_score",ascending=False).head(20)

,course_name,instructor_name,purchase_count,rating,commment_count,5_point,4_point,3_point,2_point,1_point,purchase_count_scaled,comment_count_scaled,weighted_sorting_score
1,Python: Yapay Zeka ve Veri Bilimi için Python ...,Veri Bilimi Okulu,48291,4.6,4488,2962,1122,314,45,45,5.000000,4.884699,4.795104
0,(50+ Saat) Python A-Z™: Veri Bilimi ve Machine...,Veri Bilimi Okulu,17380,4.8,4621,3466,924,185,46,6,2.438014,5.000000,4.249884
3,R ile Veri Bilimi ve Machine Learning (35 Saat),Veri Bilimi Okulu,6626,4.6,1027,688,257,51,10,21,1.546694,1.884265,2.937105
7,Veri Bilimi için İstatistik: Python ile İstati...,Veri Bilimi Okulu,929,4.5,126,88,26,9,0,3,1.074512,1.103164,2.522386